doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        style @import url('/style.css');
        title Чат Мичурина, архив
    body
        section#chat
            - if (!isPassCorrect)
                header Пароль неверный
            header #[a#edit(href='/michurin/edit')] #[a#add(href='/michurin/add')]
            article
                table
                    caption Архив #[a(href='http://nono.michurin.net/chat') чата Мичурина]

                    - for (let msg of chatArchive)
                            - let {d, t, c: colorLight, n, m} = msg;
                            - let minLight = Math.min(...colorLight), maxLight = Math.max(...colorLight);
                            - let colorDark = colorLight.map(c => c + 255-minLight-maxLight);
                            - colorString = (colorLight[0]) ? `color: light-dark(rgb(${colorLight.join(',')}), rgb(${colorDark.join(',')}))` : '';

                            tr(style=colorString)
                                th.datetime #[span.date #{d}] #[span.time #{t}]
                                th.nick #{n}
                                td.message #{m}
        script(src='/script.js')